<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMSApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
</head>

@{
    string menuTextColor = "text-white";
}

<body>
    <div class="container-fluid" style="background: linear-gradient(to right, #28340B, #197696);">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">Warehouse Application</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link @menuTextColor" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @menuTextColor" asp-area="" asp-controller="Privacy" asp-action="Privacy">Privacy</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @menuTextColor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Master
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Unit" asp-action="Index">Unit of Measurement (UOM)</a>
                                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="ProductCategory" asp-action="Index">Product Category</a>
                                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product Master</a>
                                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Location" asp-action="Index">Location Master</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @menuTextColor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Transaksi
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Receiving" asp-action="Index">Receiving</a>
                                    </div>
                                </li>
                                <li class="nav-item float-right">
                                    <a class="nav-link @menuTextColor" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </nav>
        </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <!-- Success Modal Start-->
            <div id="mySuccessModal" class="modal fade text-width:30%" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-check-circle" style="font-size:32px;color:#077e52;"> </i>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body alert alert-success" id="mySuccessModalAlertBody">
                            Modal Message
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Succeed Modal End-->
            <!-- Failed Modal Start-->
            <div id="myFailedModal" class="modal fade text-width:30%" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="d-flex align-items-center justify-content-center">
                                <i class="fa fa-exclamation-circle text-center" aria-hidden="true" style="font-size: 32px; color: #6e0315;"></i>
                            </div>

                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body alert alert-danger" id="myFailedModalAlertBody">
                            Modal Message
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Failed Modal End-->
            <!-- Confirmation Modal Start-->
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myConfirmModal" aria-hidden="true" id="confirmModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-question" style="font-size:32px;color:#077e52;"> </i>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body alert alert-info" id="myConfirmModalAlertBody">
                            <label id="lblMessage"></label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="modal-btn-yes">Yes</button>
                            <button type="button" class="btn btn-dark" id="modal-btn-no">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Confirmation Modal End-->

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background: linear-gradient(to left, #28340B, #197696);">
        <div class="container @menuTextColor">
            &copy; 2022 - Warehouse Management System - <a class="@menuTextColor" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
