@model WMSApplication.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholeUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholeUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LooseQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LooseQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholeQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholeQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoosePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoosePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WholePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WholePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div class="form-group btn-group">
    <a class="btn btn-primary" asp-action="Edit" asp-route-code="@Model.Code">Edit</a>
    <a class="btn btn-dark" asp-action="Index" asp-route-pageIndex="@TempData["currentPage"]"> Back</a>
</div>
